.contact, .contact .text {
	overflow: hidden;
	position: relative;
	*zoom: 1;
	max-width: 700px;
	margin-bottom: 2em;
}

.contact .avatar {
	float: left;
	margin: 0 1em 0 0;
	border-radius: 3px;
	background-color: #eee;
}
