.disqus {
  border-bottom: 1px solid #ddddda;
}

.disqus-wrap {
  max-width: 760px;
  margin: 16px auto;
  padding: 16px;
  text-shadow: 0 1px 0 #fff;
  font-size: 88%;
  text-align: center;
}

.disqus-wrap a {
  border: none;
}