.disqus {
  background-color: #222;
  color: #fff;
  min-height: 200px;
}

.disqus-wrap {
  max-width: 760px;
  margin: 0 auto;
  padding: 32px 16px;
  /*text-shadow: 0 1px 0 #fff;*/
  font-size: 88%;
  text-align: center;
}

.disqus-wrap a {
  border: none;
}