.download {
	display: inline-block;
  color: #006da8 !important;
  border: 1px solid #006da8 !important;
	background: rgb(255, 255, 255);
  font-size: 115%;
	line-height: 3;
	padding: 0 2em;
	border-radius: 3px;
}

.download:hover {
  color: #fff !important;
  background-color: #006da8;
}