.download {
	margin-left: 40px;
	display: inline-block;
	background: #fafaf9;
	border: 1px solid #999 !important;
  font-size: 115%;
	line-height: 3;
	padding: 0 2em;
	box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	border-radius: 3px;
  text-shadow: 0 1px 0 #fff;
}