.footer {
  max-width: 760px;
  margin: 0 auto;
  padding: 32px 16px;
  /*text-shadow: 0 1px 0 #fff;*/
  font-size: 150%;
  text-align: center;
}

.footer > p {
  font-size: 59%;
}

.footer > p.sponsored {
	margin-bottom: 1.5em;
}

.footer > p.copyright {
	opacity: .6;
}

.footer .social {
  padding: 0;
	margin: 0;
}

.footer .social li {
  display: inline;
  margin: 0 10px;
}

.footer .social li .small {
  font-size: 75%;
}

