.footer {
  margin-top: 50px;
  margin-bottom: 10px;
}

.footer > p {
	opacity: .6;
  font-size: 14px;
}

.footer .social {
  padding: 0;
	margin: 0 0 10px;
}

.footer .social li {
  display: inline;
  margin-right: 10px;
}

.footer .social li .small {
  font-size: 12px;
}

