.fotorama {
  margin-bottom: 5px;
}

.photos-by {
	font-size: 88%;
	text-align: right;
}

.fotorama-with-numbers .fotorama__html div {
  background-color: #fff;
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  position: absolute;
  top: 1em;
  left: 1em;
}

.fotorama-wrap-frontpage {
  background: #090907;
  padding: 0;
  margin: -10px -16px 5px;
  overflow: hidden;
  position: relative;
}

.fotorama-wrap-frontpage .fotorama {
  margin-top: 2px;
  margin-bottom: 0;
}

.fotorama-frontpage .fotorama__active .fotorama__dot,
.fotorama-frontpage .fotorama__oooo--1:before,
.fotorama-frontpage .fotorama__oooo--2:after,
.fotorama-frontpage .fotorama__oooo--3 .fotorama__oooo:before,
.fotorama-frontpage .fotorama__oooo--4 .fotorama__oooo:after {
  background-color: #fff;
}

.fotorama-frontpage .fotorama__nav__shaft {
  padding: 0 2px;
}

.fotorama-frontpage .fotorama__thumb-border {
  margin-left: 2px;
}

.fotorama-frontpage .fotorama__nav--thumbs .fotorama__nav__frame:last-child {
  padding-right: 4px !important;
}