.menu {
  display: inline-block;
	*display: inline;
	*zoom: 1;
  vertical-align: bottom;
	text-transform: uppercase;
	letter-spacing: 1px;
  font-size: 11px;
  line-height: 36px;
  list-style: none;
  margin: 0 0 27px;
  padding: 0;
}

.menu li {
  display: inline-block;
	*display: inline;
	*zoom: 1;
	*margin-right: 10px;
  position: relative;
  white-space: nowrap;
}

.menu li a, .menu li span {
  padding: 10px;
}

.menu li i {
  padding: 10px;
  margin-left: -10px;
  position: relative;
}

.menu li i:hover,
.menu li i.active {
  color: rgb(170, 0, 0);
}

.menu li i.icon-caret-down {
  cursor: pointer;
}

/* Sub-menu */
.menu li .menu {
  display: none;
  position: absolute;
  text-transform: none;
  font-size: 14px;
  line-height: 24px;
  top: 30px;
  left: 0;
  z-index: 100;
  background: #fff;
  padding: 5px 15px 10px 10px;
  border-radius: 3px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
  border: 1px solid #ccc;
  letter-spacing: 0;
}

.menu li .menu li {
  display: block;
}

.menu li .menu li a,
.menu li .menu li span {
  padding: .3em 0;
}

.menu li .menu li span {
  font-weight: bold;
}

.menu li .menu li i {
  display: none;
}
