.menu {
	text-transform: uppercase;
	letter-spacing: 1px;
  font-size: 11px;
  line-height: 28px;
  list-style: none;
  margin: 0 0 0 -10px;
  padding: 0;
  display: inline-block;
  *display: inline;
	*zoom: 1;
}

.menu .li {
  display: inline-block;
	*display: inline;
	*zoom: 1;
	*margin-right: 10px;
  position: relative;
  white-space: nowrap;
}

.menu .li a, .menu .li span, .menu .li i {
  padding: 8px 10px;
}

.menu .li i {
  margin-left: -10px;
  position: relative;
}

.menu .logo .fa-bars {
  display: none;
}

@media (max-width:520px) {
  /*.header {
    text-align: left;
  }

  .header .menu {
    margin-left: -10px;
  }

  .header .menu .li .menu {
    margin-left: 0;
  }*/

  .header .menu .logo .fa-bars {
    display: inline-block;
  }
  .header .menu .li:not(.logo) {
    display: none;
  }
}

@media (min-width:521px) {
  .menu .logo .menu {
    display: none !important;
  }
}



.menu .li i:hover,
.menu .li i.active {
  color: rgb(170, 0, 0);
}

.menu .li i.fa-caret-down,
.menu .li i.fa-bars {
  cursor: pointer;
}

.menu .li i.fa-disabled {
  cursor: default;
  color: #ccc;
}

/* Sub-menu */
.menu .li .menu {
  display: none;
  text-align: left;
  position: absolute;
  text-transform: none;
  font-size: 14px;
  line-height: 1.8;
  top: 30px;
  left: 0;
  z-index: 100;
  min-width: 7em;
  background: #fff;
  padding: 5px 15px 10px 10px;
  border-radius: 3px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .3);
  border: 1px solid #ccc;
  letter-spacing: 0;
  margin-left: 0;
}

.menu .logo .menu {
  font-size: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 28px;
}

.menu .li .menu .li {
  display: block;
}

.menu .li .menu .li.divider {
  border-top: 2px solid #bbb;
  margin: 10px -15px 0 -10px;
  padding: 5px 15px 0 10px;
}

.menu .li .menu .li a,
.menu .li .menu .li span {
  padding: .3em 0;
}

.menu .li .menu .li span {
  font-weight: bold;
}

.menu .li .menu .li i {
  display: none;
}

/* Меню в контенте */
.content .menu {
  text-align: left;
  font-size: 100%;
  min-width: 30%;
  margin: 0 0 1.5em 40px;
}

.content .menu .li,
.content .menu .li i,
.content .menu .li span {
  display: none;
}

.content .menu .li.selected {
  display: block;
}

.content .menu .li.selected:before,
.content .menu .li.selected .menu .li:before {
  content: '';
  display: none;
}

.content .menu .li.selected .menu {
  display: inline-block;
  position: relative;
  top: 0;
  padding: 0;
  font-size: 100%;
  margin: 0;
  box-shadow: none;
  border: none;
}

.content .menu .li .menu .li.divider {
  border: none;
  margin-top: 15px;
}

.content .menu .li.selected .menu .li {
  display: block;
  margin-bottom: 0;
}

.content .menu .li.selected .menu .li span {
  display: inline;
}