@keyframes shake {
  0% {
    transform: translateX(0)
  }
  25% {
    transform: translateX(-3px)
  }
  50% {
    transform: translateX(3px)
  }
  75% {
    transform: translateX(-3px)
  }
  100% {
    transform: translateX(0)
  }
}

.shake {
  animation-name: shake .3s 1;
}