.switch {
	border-bottom: 1px dashed;
	cursor: pointer;
}

.switch.active {
	color: #fff;
	background-color: #555;
	text-shadow: 0 -1px 0 #000;
	border-bottom: none;
	border-radius: 3px;
	padding: 2px 4px;
	margin: 0 -4px;
	cursor: default;
}