body {
  line-height: 1.5;
	color: #333;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

h1, h2, h3 {
  margin-top: 1em;
  margin-bottom: .1em;
}

h2 + h2 {
	margin-top: .5em;
}

.header + h1,
h1 + h2,
p,
ul,
ol {
  margin-top: 0;
}

p + ul, p + ol, p + pre, pre + .after-pre {
	margin-top: -.5em;
	margin-left: 40px;
	margin-bottom: 1.5em;
	padding-left: 0;
}

pre + .after-pre {
	margin-top: -1em;
}

a, .header a:visited, h2 a:visited {
  text-decoration: none;
  border-bottom: 1px solid;
  color: rgb(3, 112, 154);
  border-color: rgba(3, 112, 154, .3);
}

a:visited {
	color: rgb(85, 26, 139);
	border-color: rgba(85, 26, 139, .3);
}

#root a:hover {
  color: rgb(170, 0, 0);
  border-color: rgba(170, 0, 0, .3);
}

#root .selected > a {
	color: rgb(170, 0, 0);
	border-color: rgb(170, 0, 0);
}

abbr {
	/*font-size: 90%;*/
	letter-spacing: .1em;
	margin-right: -.1em;
}

