@import url(_normalize.css);
@import url(_typo.css);
@import url(_global.css);
@import url(_header.css);
@import url(_content.css);
/*@import url(_social-likes.css);*/
@import url(_logo.css);
@import url(_menu.css);
@import url(_fotorama.css);
@import url(_highlight.css);
@import url(_download.css);
@import url(_fit-example.css);
@import url(_switch-n-key.css);
@import url(_form.css);
@import url(_contact.css);
@import url(_noise.css);
@import url(_shake.css);
@import url(_promo.css);
@import url(_disqus.css);
@import url(_footer.css);
@import url(_mq.css);

html {
  background-color: #fcfcfb;
}

.body-wrap {
  padding: 10px 16px 50px;
  position: relative;
  background-color: #fff;
  z-index: 9;
  height: auto;
  min-height: calc(100% - 200px);
}

.body-wrap:before,
body.frontpage .header p.lead:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, .1), transparent), linear-gradient(to right, transparent, #fff, transparent);
  background-size: 100% 1px;
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
}

.body-wrap:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 5px;
  background: radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.4), rgba(0,0,0,0)), linear-gradient(#ddddda, #ddddda);
  background-size: 100% 5px, 100% 1px;
  background-repeat: no-repeat;
}

.clear {
  clear: both;
  height: 1px;
  font-size: 1px;
  line-height: 1px;
}
