@import url(_normalize.css);
@import url(_typo.css);
@import url(_global.css);
@import url(_header.css);
@import url(_content.css);
/*@import url(_social-likes.css);*/
@import url(_logo.css);
@import url(_menu.css);
@import url(_fotorama.css);
@import url(_highlight.css);
@import url(_download.css);
@import url(_fit-example.css);
@import url(_switch-n-key.css);
@import url(_form.css);
@import url(_contact.css);
/*@import url(_noise.css);*/
@import url(_shake.css);
@import url(_promo.css);
@import url(_footer.css);
@import url(_mq.css);

html {
  /*height: 100%;*/
  background-color: #fafaf9;
}

body {
  /*min-height: 100%;
  height: auto;*/

  /*padding-bottom: 7em;*/
}

.body-wrap {
  padding: 10px 16px 40px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  z-index: 9;
}

/*
.footer-fixed {
  position: fixed;
  bottom: 0;
  overflow: hidden;
  right: 0;
  left: 0;
  height: 7em;
}*/
