.fotorama<%= v.s %> .fotorama__nav--thumbs .fotorama__nav__frame{
padding:<%= v.m %>px;
height:<%= v.h %>px}
.fotorama<%= v.s %> .fotorama__thumb-border{
height:<%= v.h - v.b * (v.q ? 0 : 2) %>px;
border-width:<%= v.b %>px;
margin-top:<%= v.m %>px}