.<%= v.s %> .<%= v.nt %> .<%= v.nf %>{
padding:<%= v.m %>px;
height:<%= v.h %>px}
.<%= v.s %> .<%= v.tb %>{
height:<%= v.h - v.b * (v.q ? 0 : 2) %>px;
border-width:<%= v.b %>px;
margin-top:<%= v.m %>px}