<% var proto = window.location.protocol; %><div class="fotorama__video"><iframe src="<% print((v.type == 'youtube' ? proto + '//youtube.com/embed/' + v.id +'?autoplay=1' : v.type == 'vimeo' ? proto + '//player.vimeo.com/video/' + v.id + '?autoplay=1&badge=0' : v.id)  + (v.s && v.type != 'custom' ? '&' + v.s : '')) %>" frameborder="0" allowfullscreen></iframe></div>
