<div class="footer-fixed">
  <div class="footer">
    <ul class="social">
      <li><a href="http://twitter.com/intent/tweet?url=http%3A%2F%2Ffotorama.io%2F&text=Fotorama.%20A%20simple%2C%20stunning%2C%20powerful%20jQuery%20gallery%3A" class="no-u" target="_blank"><i class="icon-twitter"></i> <u>Tweet</u></a> <a href="http://twitter.com/search?q=fotorama.io" class="no-u small black" target="_blank" id="twitter-counter"></a></li>
      <li><a href="http://github.com/artpolikarpov/fotorama/" class="no-u black" target="_blank"><i class="icon-github"></i> <u>Star</u></a> <a href="http://github.com/artpolikarpov/fotorama/stargazers" class="no-u small black" target="_blank" id="github-counter"></a></li>
      <li><a href="https://flattr.com/submit/auto?user_id=artpolikarpov&
  url=http://fotorama.io/&
  title=Fotorama&
  description=A%20simple%2C%20stunning%2C%20powerful%20jQuery%20gallery.%20Licensed%20under%20the%20MIT.&
  language=en_US&
  tags=jquery,gallery,plugin,fotorama&
  category=software" class="green no-u"><i class="icon-flattr"></i> <u>Flattr</u></a> <span class="small" id="flattr-counter"></span></li>
    </ul>

    <p>© 2011—2013, Artem Polikarpov</p>
  </div>
</div>