<div class="footer">
  <ul class="social">
    <li><a href="http://twitter.com/intent/tweet?url=http%3A%2F%2Ffotorama.io%2F&text=Fotorama.%20A%20simple%2C%20stunning%2C%20powerful%20jQuery%20gallery%3A" class="no-u" target="_blank"><i class="icon-twitter"></i> <u>Tweet</u></a> <span class="small" id="twitter-counter"></span></li>
    <li><a href="http://github.com/artpolikarpov/fotorama/" class="no-u black" target="_blank"><i class="icon-github"></i> <u>Star</u></a> <span class="small" id="github-counter"></span></li>
  </ul>

  <p>© 2011—2013, Artem Polikarpov</p>
</div>