<div class="footer">
	<!--<ul class="social-likes" data-url="http://fotorama.io/" data-title="Fotorama. A simple, stunning, powerful jQuery gallery">
		<li class="twitter" title="Share link on Twitter"> </li>
    <li class="facebook" title="Share link on Facebook"> </li>
    <li class="github" title="Star on GitHub"> </li>
	</ul>-->

  <!--<ul class="social">
    <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://fotorama.io" data-text="Fotorama. A simple, stunning, powerful jQuery gallery:">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
    <li><iframe src="http://ghbtns.com/github-btn.html?user=artpolikarpov&repo=fotorama&type=watch&count=true"
  allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe></li>

  </ul>-->

	<p>© 2011—2013, Artem Polikarpov</p>
</div>