/*!
 * Fotorama 4.0.2 | MIT License
 */
.fotorama__stage__shaft, .fotorama__stage__frame, .fotorama__html {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.fotorama__wrap--slide .fotorama__stage__shaft, .fotorama__nav__shaft {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.fotorama__img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50% 0 0 -50%;
  width: 100%;
  height: 100%;
}

.fotorama__wrap--css3 .fotorama__stage__shaft,
.fotorama__wrap--css3 .fotorama__nav__shaft,
.fotorama__wrap--css3 .fotorama__thumb-border, .fotorama__wrap--css3 .fotorama__stage__frame,
.fotorama__wrap--css3 .fotorama__nav__frame,
.fotorama__wrap--css3 .fotorama__img,
.fotorama__wrap--css3 .fotorama__caption {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.fotorama__wrap--css3 .fotorama__stage__shaft,
.fotorama__wrap--css3 .fotorama__nav__shaft,
.fotorama__wrap--css3 .fotorama__thumb-border {
  -webkit-transition: -webkit-transform 0ms;
  -moz-transition: -moz-transform 0ms;
  -o-transition: -o-transform 0ms;
  transition: transform 0ms;
}

.fotorama__wrap--css3 .fotorama__stage__shaft,
.fotorama__wrap--css3 .fotorama__nav__shaft,
.fotorama__wrap--css3 .fotorama__thumb-border, .fotorama__wrap--css3 .fotorama__arr,
.fotorama__wrap--css3 .fotorama__fullscreen-icon,
.fotorama__wrap--css3 .fotorama__video-play,
.fotorama__wrap--css3 .fotorama__video-close, .fotorama__shadow {
  -webkit-transition-timing-function: cubic-bezier(0.1, 0.25, 0.25, 1);
  -moz-transition-timing-function: cubic-bezier(0.1, 0.25, 0.25, 1);
  -o-transition-timing-function: cubic-bezier(0.1, 0.25, 0.25, 1);
  transition-timing-function: cubic-bezier(0.1, 0.25, 0.25, 1);
}

.fotorama__wrap, .fotorama__no-select, .fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-play,
.fotorama__video-close, .fotorama__shadow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.fotorama__select {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  -o-user-select: text;
  user-select: text;
}

.fotorama__nav, .fotorama__nav__frame {
  margin: 0;
  padding: 0;
}

.fotorama__nav__shaft, .fotorama__nav__frame {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *display: inline;
  *zoom: 1;
}

.fotorama__dot {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.fotorama__caption {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.fotorama--hidden, .fotorama__load {
  position: absolute;
  left: -99999px;
  top: -99999px;
  z-index: -1;
}

.fotorama__stage, .fotorama__stage__shaft, .fotorama__stage__frame, .fotorama__nav, .fotorama__nav__shaft, .fotorama__nav__frame, .fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-play,
.fotorama__video-close {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.fotorama__wrap--css3 .fotorama__arr,
.fotorama__wrap--css3 .fotorama__fullscreen-icon,
.fotorama__wrap--css3 .fotorama__video-play,
.fotorama__wrap--css3 .fotorama__video-close {
  -webkit-transition-duration: 333ms;
  -moz-transition-duration: 333ms;
  -o-transition-duration: 333ms;
  transition-duration: 333ms;
}

.fotorama__arr__arr, .fotorama__fullscreen-icon, .fotorama__video-play, .fotorama__video-close {
  background: url("fotorama.png") no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .fotorama__arr__arr, .fotorama__fullscreen-icon, .fotorama__video-play, .fotorama__video-close {
    background: url("fotorama@2x.png") no-repeat;
    background-size: 96px 192px;
  }
}

.fullscreen {
  width: 100% !important;
  height: 100% !important;
  overflow: hidden !important;
  margin: 0 !important;
  padding: 0 !important;
  background: #000;
}

.lightbox {
  overflow: hidden !important;
  position: static !important;
}

.fotorama--fullscreen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  float: none;
  z-index: 2147483647;
  background: #000;
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
}
.fotorama--fullscreen .fotorama__stage,
.fotorama--fullscreen .fotorama__nav {
  background: #000;
}

.fotorama--lightbox {
  background: none;
}
.fotorama--lightbox .fotorama__stage,
.fotorama--lightbox .fotorama__nav {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.85);
}
.fotorama--lightbox .fotorama__stage .fotorama__img img {
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.fotorama__wrap {
  -webkit-text-size-adjust: 100%;
  position: relative;
}

.fotorama__wrap--not-ready * {
  visibility: hidden !important;
}

.fotorama__stage {
  overflow: hidden;
  position: relative;
}
.fotorama__stage .spinner {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
}

.grabbing * {
  cursor: move !important;
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: -o-grabbing !important;
  cursor: -ms-grabbing !important;
  cursor: grabbing !important;
}

.fotorama__img {
  opacity: 0;
}
.fotorama__loaded .fotorama__img, .fotorama__error .fotorama__img {
  opacity: 1;
}

.fotorama__stage__frame {
  overflow: hidden;
}

.fotorama__wrap--fade .fotorama__stage__frame {
  left: -9999px;
  top: -9999px;
  opacity: 0;
}
.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active {
  opacity: 1;
}
.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active,
.fotorama__wrap--fade .fotorama__fade-front,
.fotorama__wrap--fade .fotorama__fade-rear {
  left: 0;
  top: 0;
}
.fotorama__wrap--fade .fotorama__fade-front {
  z-index: 10;
}
.fotorama__wrap--fade .fotorama__fade-rear {
  z-index: 9;
}
.fotorama__wrap--fade .fotorama__stage .fotorama__shadow {
  display: none;
}

.fotorama__stage__frame.fotorama__active {
  z-index: 10;
}

.fotorama__wrap--video .fotorama__stage__frame--video {
  background-color: #000;
}
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,
.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html-wrap {
  opacity: 0;
}

.fotorama__img {
  border: 0;
  overflow: hidden;
}

.fotorama__img--full {
  display: none;
}

.fotorama--fullscreen .fotorama__loaded--full .fotorama__img {
  display: none;
}
.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full {
  display: block;
}

.fotorama__stage--only-active .fotorama__stage__frame {
  visibility: hidden;
}
.fotorama__stage--only-active .fotorama__stage__frame.fotorama__active {
  visibility: visible;
}

.fotorama__nav {
  font-size: 0;
  line-height: 0;
  text-align: center;
  display: none;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  z-index: 5;
}

.fotorama__nav--dots {
  display: block;
}
.fotorama__nav--dots .fotorama__nav__frame--thumb,
.fotorama__nav--dots .fotorama__thumb-border {
  display: none;
}

.fotorama__nav--thumbs {
  display: block;
}
.fotorama__nav--thumbs .fotorama__nav__frame--dot {
  display: none;
}

.fotorama__nav__shaft {
  position: relative;
  left: 0;
  top: 0;
  text-align: left;
}

.fotorama__nav__frame {
  position: relative;
  cursor: pointer;
}

.fotorama__nav--dots .fotorama__nav__frame {
  width: 18px;
  height: 30px;
}

.fotorama__dot {
  display: block;
  width: 4px;
  height: 4px;
  position: relative;
  top: 12px;
  left: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid;
}

.fotorama__nav__frame.fotorama__active .fotorama__dot {
  width: 6px;
  height: 6px;
  border: none;
}

.fotorama__dot {
  border-color: #7f7f7f;
}

.fotorama__active .fotorama__dot {
  background-color: #7f7f7f;
}

.fotorama__thumb {
  background-color: #dfdfdf;
  background-color: rgba(127, 127, 127, 0.25);
  overflow: hidden;
  position: relative;
}

.fotorama__thumb-border {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  border-style: solid;
  border-color: #00afea;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(100%, rgba(64, 64, 64, 0.1)));
  background: -webkit-linear-gradient(top left, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1));
  background: -moz-linear-gradient(top left, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1));
  background: -o-linear-gradient(top left, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1));
  background: linear-gradient(top left, rgba(255, 255, 255, 0.25), rgba(64, 64, 64, 0.1));
}

.fotorama__caption {
  position: absolute;
  z-index: 11;
  bottom: 0;
  left: 0;
  opacity: 1;
  max-width: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  background-color: #fff;
  padding: 5px 18px 6px 11px;
}
.fotorama__caption h1, .fotorama__caption h2, .fotorama__caption h3, .fotorama__caption h4, .fotorama__caption h5, .fotorama__caption h6 {
  margin: 0 0 .1em;
}
.fotorama__caption h1 {
  font-size: 115%;
}
.fotorama__caption h2 {
  font-size: 110%;
}
.fotorama__caption h3, .fotorama__caption h4, .fotorama__caption h5, .fotorama__caption h6 {
  font-size: 100%;
}
.fotorama__caption p {
  margin: 0 0 .4em;
}
.fotorama__caption p:last-child {
  margin-bottom: 0;
}
.fotorama__caption a {
  text-decoration: none;
  color: #000;
  border-bottom: 1px solid;
  border-color: rgba(0, 0, 0, 0.5);
}
.fotorama__caption a:hover {
  color: #333;
  border-color: rgba(51, 51, 51, 0.5);
}
.fotorama__wrap--no-controls .fotorama__caption {
  opacity: 0;
}

.fotorama__wrap--css3 .fotorama__img,
.fotorama__wrap--css3 .fotorama__html-wrap,
.fotorama__wrap--css3 .fotorama__wrap--fade .fotorama__stage__frame,
.fotorama__wrap--css3 .fotorama__caption {
  -webkit-transition: opacity 333ms;
  -moz-transition: opacity 333ms;
  -o-transition: opacity 333ms;
  transition: opacity 333ms;
}

.fotorama__video {
  top: 32px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 10;
}
.fotorama__video iframe {
  width: 100%;
  height: 100%;
}

/* Стрелочки, иконки */
.fotorama__arr,
.fotorama__fullscreen-icon,
.fotorama__video-play,
.fotorama__video-close {
  display: block;
  position: absolute;
  z-index: 11;
  cursor: pointer;
  opacity: 0;
}

.fotorama__arr,
.fotorama__fullscreen-icon {
  opacity: 1;
}

.fotorama__arr {
  width: 48px;
  height: 100%;
  top: 0;
  bottom: 0;
}

.fotorama__arr__arr {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
}

.fotorama__arr--prev {
  left: 0;
}
.fotorama__arr--prev .fotorama__arr__arr {
  background-position: 0 -32px;
}

.fotorama__arr--next {
  right: 0;
}
.fotorama__arr--next .fotorama__arr__arr {
  background-position: -32px -32px;
}

.fotorama__arr--disabled {
  cursor: default;
  *display: none;
  text-shadow: none;
  opacity: .1 !important;
}

.fotorama__fullscreen-icon {
  width: 32px;
  height: 32px;
  top: 0;
  right: 0;
  background-position: 0 -64px;
  z-index: 20;
}

.fotorama--fullscreen .fotorama__fullscreen-icon {
  background-position: -32px -64px;
}

.fotorama--lightbox .fotorama__fullscreen-icon {
  background-position: -64px 0;
}

.fotorama__video-play {
  width: 96px;
  height: 96px;
  left: 50%;
  top: 50%;
  margin-left: -48px;
  margin-top: -48px;
  background-position: 0 -96px;
}

.fotorama__stage__frame .fotorama__video-play {
  z-index: -1;
}

.fotorama__nav__frame .fotorama__video-play,
.fotorama__lightbox-nav__frame .fotorama__video-play {
  width: 32px;
  height: 32px;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
  background-position: -64px -32px;
  opacity: 1 !important;
}

.fotorama__video-close {
  width: 32px;
  height: 32px;
  top: -32px;
  right: -32px;
  opacity: 0;
  background-position: -64px 0;
  z-index: 20;
}

.fotorama__loaded .fotorama__video-play,
.fotorama__error .fotorama__video-play {
  opacity: 1;
  z-index: 11;
}

.fotorama__wrap--no-controls .fotorama__arr,
.fotorama__wrap--no-controls .fotorama__fullscreen-icon,
.fotorama__wrap--video .fotorama__arr,
.fotorama__wrap--video .fotorama__fullscreen-icon {
  opacity: 0 !important;
}
.fotorama__wrap--no-controls .fotorama__fullscreen-icon,
.fotorama__wrap--video .fotorama__fullscreen-icon {
  top: -32px;
  right: -32px;
}
.fotorama__wrap--no-controls .fotorama__arr--prev,
.fotorama__wrap--video .fotorama__arr--prev {
  left: -48px;
}
.fotorama__wrap--no-controls .fotorama__arr--next,
.fotorama__wrap--video .fotorama__arr--next {
  right: -48px;
}

.fotorama__wrap--video .fotorama__stage .fotorama__video-play {
  opacity: 0 !important;
}
.fotorama__wrap--video .fotorama__video-close {
  top: 0;
  right: 0;
  opacity: 1;
}

.fotorama__wrap--css3 .fotorama__arr,
.fotorama__wrap--css3 .fotorama__fullscreen-icon,
.fotorama__wrap--css3 .fotorama__video-play,
.fotorama__wrap--css3 .fotorama__video-close {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
}

/* Тенюшки */
.fotorama__shadow {
  content: "";
  display: block;
  position: absolute;
  text-decoration: none;
  top: 0;
  bottom: 0;
  width: 10px;
  height: auto;
  z-index: 10;
  *display: none !important;
  background-repeat: no-repeat;
  background-size: 1px 100%, 5px 100%;
  cursor: default;
}
.fotorama__wrap--css3 .fotorama__shadow {
  -webkit-transition: all 333ms;
  -moz-transition: all 333ms;
  -o-transition: all 333ms;
  transition: all 333ms;
}

.fotorama__shadow--left {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(25%, rgba(0, 0, 0, 0.3)), color-stop(75%, rgba(0, 0, 0, 0.3)), color-stop(100%, transparent)), -webkit-gradient(radial, 0 50%, 0, 0 50%, 100, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -webkit-radial-gradient(0 50%, farthest-side, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -moz-radial-gradient(0 50%, farthest-side, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -o-radial-gradient(0 50%, farthest-side, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), radial-gradient(0 50%, farthest-side, rgba(0, 0, 0, 0.5), transparent);
  background-position: 0 0, 0 0;
  left: -10px;
}
.fotorama__shadows--left .fotorama__shadow--left {
  left: 0;
}

.fotorama__shadow--right {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, transparent), color-stop(25%, rgba(0, 0, 0, 0.3)), color-stop(75%, rgba(0, 0, 0, 0.3)), color-stop(100%, transparent)), -webkit-gradient(radial, 100% 50%, 0, 100% 50%, 100, color-stop(0%, rgba(0, 0, 0, 0.5)), color-stop(100%, transparent));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -webkit-radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, 0.5), transparent);
  background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -moz-radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, 0.5), transparent);
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), -o-radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, 0.5), transparent);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.3) 75%, transparent), radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, 0.5), transparent);
  background-position: 100% 0, 100% 0;
  right: -10px;
}
.fotorama__shadows--right .fotorama__shadow--right {
  right: 0;
}
