/* ----------------- */

.page-article .line-comments .side {
	//margin-left: 60px;
	width: 240px;
	position: relative;
}

.page-article .line-comments .side .top-crowd {
	//background: #fff;
	position: relative;
	//margin-top: 35px;
	//border-radius: 10px;
}
.page-article .line-comments .side .top-crowd h3 {
    font-size: 1em;
    font-weight: 100;
    //margin: 0 30px;
    padding: 10px 0;
    text-align: center;
}
.page-article .line-comments .side .top-crowd ul {
	//margin: 0;
	padding: 0;
	list-style: none;
}

.page-article .line-comments .side .top-crowd ul li {
	padding: 10px 20px;
	//border-top: 1px solid #eee;
	position: relative;
}

.page-article .line-comments .side .top-crowd ul li > img {
    //border-radius: 2px 2px 2px 2px;
    display: inline-block;
    height: 18px;
    //margin-right: 10px;
    position: relative;
    top: 2px;
    width: 18px;
}

.page-article .line-comments .side .top-crowd ul li b {
    display: inline-block;
    font-weight: normal;
    position: relative;
    top: -2px;
}
.page-article .line-comments .side .top-crowd ul li span {
	//background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 100%);
	//background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(20%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
	//background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 100%);

    height: 30px;
    position: absolute;
    right: 20px;
    top: 12px;
    width: 90px;

	text-align: right;
}
.page-article .line-comments .side .top-crowd ul li i {
    font-style: normal;
    //margin-left: 10px;
    width: 40px;
}

.page-article .line-comments .side .top-crowd ul li i img {
    left: -3px;
    //margin-right: 3px;
    //opacity: 0.3;
    position: relative;
}

/* ------- */

.page-article .line-comments {
	width: 980px;
	position: relative;
	//margin: 30px auto;
}
.page-article .line-comments h2 {
	//margin: 0;
	//margin-top: -35px;
	position: relative;
	top: -10px;
}
.page-article .line-comments h2 b {
    color: #999999;
    font-size: 0.75em;
    font-weight: 400;
    //margin-left: 5px;
}
.page-article .line-comments .comments {
	//background: #fff;
	width: 680px;
	//margin-top: 35px;
	//border-radius: 10px;
	position: relative;
	padding-top: 10px;
}
.page-article .comments .comment {
	position: relative;
	width: 650px;
	padding: 30px 0;
	padding-left: 30px;
	//border-bottom: 1px solid #eee;
}

.page-article .comments .comment .caption {
	position: relative;
}
.page-article .comments .comment .caption .user {
	display: inline-block;
	padding-left: 48px;
	color: #000;
	font-weight: 600;
	text-decoration: none;
}

.page-article .comments .comment .caption .user b {
	font-weight: 600;
}
.page-article .comments .comment .caption .user img {
	width: 36px;
	height: 36px;
	position: absolute;
	left: 0;
	top: 0;
	//border-radius: 3px;
}
.page-article .comments .comment .caption .badge {
	font-size: 0.8em;
	text-transform: uppercase;
	color: #d5903a;
	//margin-left: 5px;
}
.page-article .comments .comment .caption .time {
	color: #ccc;
	text-decoration: none;
	//margin-left: 20px;
	font-size: 0.9em;
}
.page-article .comments .comment .caption .time abbr {
	//border: 0;
}
.page-article .comments .comment .caption .rating {
	position: absolute;
	left: 440px;
	top: 0;
	width: 10px;
	padding: 0 30px;
}
.page-article .comments .comment .caption .rating span {
	font-weight: 600;
	//background: #ccc;
	color: #fff;
	display: inline-block;
	//border-radius: 30px;
	text-align: center;
	padding: 0 4px;
	position: absolute;
	right: 0;
	top: 20px;
	width: 30px;
	white-space: nowrap;
}
.page-article .comments .comment .caption .rating span.negative { color: #cc0000; //background: #ffcccc;  }
.page-article .comments .comment .caption .rating span.positive { color: #009900; //background: #ccffcc; }

.page-article .comments .comment .caption .rating .up,
.page-article .comments .comment .caption .rating .down {
	width: 14px;
	height: 13px;
	position: relative;
	vertical-align: middle;
	//opacity: 0.8;
	position: absolute;
	display: none;
	left: 5px;
	top: 23px;
}
.page-article .comments .comment .caption .rating .down {
	left: auto;
	right: -27px;
}
.page-article .comments .comment:hover .caption .rating .up,
.page-article .comments .comment:hover .caption .rating .down {
	display: block;
}
.page-article .comments .comment:hover .caption .rating.voted .up,
.page-article .comments .comment:hover .caption .rating.voted .down {
	display: none;
}
.page-article .comments .comment .caption .rating .up i,
.page-article .comments .comment .caption .rating .down i {
	width: 14px;
	height: 13px;
	display: inline-block;
	//background: url("../img/article-comment-rating-sprite-1.png") 0 0 no-repeat;
	text-indent: -9000px;
	top: 0;
	vertical-align: top;
	left: 0;
	position: relative;
}
.page-article .comments .comment .caption .rating .down i { top: 0; }

.page-article .comments .comment .caption .rating.disabled .up i { //background-position: -28px 0; }
.page-article .comments .comment .caption .rating.disabled .down i { //background-position: -42px 0; }

.page-article .comments .comment .caption .rating .up:hover,
.page-article .comments .comment .caption .rating .down:hover {
	//opacity: 1;
}
.page-article .comments .comment .caption .rating .down i {
	//background-position: -14px 0;
}
.page-article .comments .comment .text {
	//margin-left: 48px;
	width: 380px;
}
.page-article .comments .comment .text > p {
	//margin-top: 2px;
}
.page-article .comments .comment .text .media {
	width: 100%;
	//margin-bottom: 10px;
}
.page-article .comments .comment .text .media img {
	max-width: 100%;
	//margin-bottom: 10px;
}
.page-article .comments .comment .text .media .youtube-preview {
	position: relative;
	display: block;
}
.page-article .comments .comment .text .media .youtube-preview .play-overlay {
	position: absolute;
	top: 50%;
	left: 50%;
	//margin-left: -50px;
	//margin-top: -50px;
}
.page-article .comments .comment .reply-button {
	//margin-left: 48px;
	color: #ccc;
	text-decoration: none;
	display: inline-block;
	padding: 0 30px 0 0;
	//background-image: url("../img/reply-icon-10x12.png");
	//background-position: 80% 5px;
	//background-repeat: no-repeat;
	-webkit-transition: //background-position 0.4s ease;
	-moz-transition: //background-position 0.4s ease;
}
.page-article .comments .comment .reply-button:hover {
	//background-position: 90% 5px;
}
.page-article .comments .comment .actions {

}
.page-article .comments .comment .actions .delete-button {
	color: #E17167;
	//margin-left: 20px;
	display: none;
}
.page-article .comments .comment:hover .actions .delete-button {
	display: inline-block;
}
.page-article .comments .comment .actions .reply-button b {
	font-weight: normal;
	padding: 0 6px;
	//margin-left: -6px;
	//border-radius: 3px;
}
.page-article .comments .comment .actions .reply-button:hover b {
	//background: #ccc;
	color: #fff;
}
.page-article .comments .comment.secondary {
	padding-left: 78px;
	//border-top: 1px solid #fff;
	//margin-top: -1px;
	padding-top: 10px;
	width: 602px;
}
.page-article .comments .comment.secondary .caption .user {
	padding-left: 30px;
}
.page-article .comments .comment.secondary .caption .user img {
	width: 18px;
	height: 18px;
}
.page-article .comments .comment.secondary .caption .rating {
	left: 392px;
}
.page-article .comments .comment.secondary .text {
	//margin-left: 0;
	//margin-top: 5px;
}
.page-article .comments .comment.secondary .reply-button {
	//margin-left: 0px;
}
.page-article .comments .add-comment {
	padding: 0 30px 30px;
	position: relative;
}
.page-article .comments .add-comment .message {
	width: 515px;
	//border: 1px solid #ccc;
	//border-radius: 3px;
}
.page-article .comments .add-comment.not-logined .message {
	width: 410px;
}
.page-article .comments .add-comment .message textarea {
	width: 400px;
	//margin: 6px 5px;
	height: 100px;
	//border: 0;
	resize: none;
}
.page-article .comments .add-comment .message textarea:focus {
	outline: none;
}

.page-article .comments .add-comment .message .file-url{//border-top:1px solid #eee;padding:10px 15px;position:relative;display: none}
.page-article .comments .add-comment .message .file-url.loading{ //background: transparent url("../img/preview-preloader-bar-48.gif") 0 0 repeat; }
.page-article .comments .add-comment .message .file-url input{width:100%;color:#555;//border:0;//background:transparent;outline:none}
.page-article .comments .add-comment .message .file-url i{//background-image:-moz-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%);//background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(20%,rgba(255,255,255,1)),color-stop(100%,rgba(255,255,255,1)));//background-image:-webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,1) 20%,rgba(255,255,255,1) 100%);width:130px;position:absolute;right:0;top:0;height:40px;font-style:normal}
.page-article .comments .add-comment .message .file-url i a {//background:#ccc;color:#fff; padding:0 6px;//margin-left:-6px;//border-radius:3px; text-decoration:none;position:absolute; top: 50%; //margin-top: -0.7em; right: 15px}
.page-article .comments .add-comment .message .file-url i a b {font-weight:normal;}
.page-article .comments .add-comment .message .file-url i a:hover {//background:#6699cc;}
.page-article .comments .add-comment .message .file-url i a:hover b {  }
.page-article .comments .add-comment .message .file-url.loading i { display:none; }

.page-article .comments .add-comment .message .attach-error{//border-top:1px solid #eee;padding:10px 15px;position:relative;display: none}
.page-article .comments .add-comment .message .attach-error span {//background:#cc3333;color:#fff; padding:0 6px;//margin-left:-6px;//border-radius:3px; text-decoration:none;position:relative;}

.page-article .comments .add-comment .message .options{//border-top:1px solid #eee; padding:10px; position:relative;min-height:20px}
.page-article .comments .add-comment .message .options label.to_twitter{position:absolute;top: 10px;right: 15px;padding-left: 20px; //background: url("../img/icon-tw-12.png") 0 3px no-repeat; }
.page-article .comments .add-comment .message .options label.to_twitter input[type='checkbox']{//margin:0 7px 0 0;position:relative;top:2px}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.page-article .comments .add-comment .message .options label.to_twitter input[type='checkbox']{top:0px}
}

.page-article .comments .add-comment .message .options .attach-file{//margin-left: 5px;color:#ccc;text-decoration:none;display:inline-block;padding:0 30px 0 0;//background-image:url("../img/attach-icon-12x13.png");//background-position:80% 5px;//background-repeat:no-repeat;-webkit-transition://background-position .4s ease;-moz-transition://background-position .4s ease}
.page-article .comments .add-comment .message .options .attach-file b{font-weight:normal;padding:0 6px;//margin-left:-6px;//border-radius:3px}
.page-article .comments .add-comment .message .options .attach-file:hover {//background-position:90% 5px}
.page-article .comments .add-comment .message .options .attach-file:hover b{//background:#ccc;color:#fff}

.page-article .comments .add-comment .message .options .upload-file{//margin-left: 5px;color:#000;cursor:pointer;vertical-align:top;overflow:hidden;position:relative;//opacity:0.25;text-decoration:none;display:inline-block;padding:0 30px 0 8px;//background-image:url("../img/upload-icon-16x10.png");//background-position:80% 5px;//background-repeat:no-repeat;-webkit-transition://background-position .4s ease;-moz-transition://background-position .4s ease}
.page-article .comments .add-comment .message .options .upload-file b{font-weight:normal;padding:0 6px;//margin-left:-6px;//border-radius:3px}
.page-article .comments .add-comment .message .options .upload-file:hover {//background-position:90% 5px}
.page-article .comments .add-comment .message .options .upload-file:hover b{//background:#000;color:#fff}
.page-article .comments .add-comment .message .options .upload-file input[type='file']{
	position: absolute;
	top: 0;
	right: 0;
	//margin: 0;
	//opacity: 0;
	filter: alpha(opacity=0);
	transform: translate(-300px, 0) scale(4);
	font-size: 23px;
	direction: ltr;
	cursor: pointer;
}

.page-article .comments .add-comment .message .options .uploading-filename{ color: #ccc; width: 100px; overflow: hidden; display: inline-block; vertical-align: top }

.page-article .comments .add-comment .files { position: absolute; left: 566px; top: 37px; }
.page-article .comments .add-comment .files .file-preview { width: 80px; height: 80px; //background: #eee url("../img/preview-preloader-36.gif") 50% 50% no-repeat; display: inline-block; overflow: hidden; //border-radius: 4px; position: relative; //margin-right: 20px; //margin-bottom: 15px }
.page-article .comments .add-comment .files .file-preview img { min-width: 80px; max-height: 80px; display: block; position: relative; z-index: 0 }
.page-article .comments .add-comment .files .file-preview a { width: 80px; text-indent: -9000px; height: 80px; //background: rgba(0, 0, 0, 0.2) url("../img/red-cross-40.png") 50% 50% no-repeat; position: absolute; top: 0; left: 0; z-index: 2; display: none }
.page-article .comments .add-comment .files .file-preview:hover a { display: block; }

.page-article .comments .add-comment .submit {
	//margin: 20px 0 0;
}
.page-article .comments .add-comment .submit .btn {
	//border-radius: 30px;
}
.page-article .comments .add-comment .submit span {
	//margin-left: 20px;
}
.page-article .comments .add-comment .submit span a {
	//margin-left: 5px;
	color: #555;
}
.page-article .comments .add-comment .submit span a i {
	width: 12px;
	height: 12px;
	display: inline-block;
	position: relative;
	text-indent: -9000px;
	//margin-right: 5px;
	top: 4px;
	vertical-align: top;
}
.page-article .comments .add-comment .submit span a.tw i {
	//background: url("../img/icon-tw-12.png") 0 0 no-repeat;
}
.page-article .comments .add-comment .submit span a.fb i {
	//background: url("../img/icon-fb-12.png") 0 0 no-repeat;
}
.page-article .comments .add-comment .submit span a.vk i {
	//background: url("../img/icon-vk-12.png") 0 0 no-repeat;
}
.page-article .comments .add-comment .submit span a.exit {
	color: #999;
	//margin-left: 15px;
}
.page-article .comments .add-comment .submit .choose-account {
	width: 250px;
	display: inline-block;
	vertical-align: top;
	//border-top: 1px solid #fff;
	//border-left: 1px solid #fff;
	//border-right: 1px solid #fff;
	position: absolute;
	//margin: -10px 0 10px 10px;
	//border-radius: 5px;
	overflow: hidden;
	z-index: 5;
	//background: #fff;
}


.page-article .comments .add-comment .submit .choose-account a {
	//border-bottom: 1px solid #fff;
	//margin: 0;
	padding: 8px 10px;
	display: none;
}
.page-article .comments .add-comment .submit .choose-account a.user {
	text-decoration: none;
}
.page-article .comments .add-comment .submit .choose-account a.user u {
	text-decoration: none;
	//border-bottom: 1px dotted;
}
.page-article .comments .add-comment .submit .choose-account a:first-child {
	display: block;
}
.page-article .comments .add-comment .submit .choose-account .triangle {
	font-size: 10px;
	position: absolute;
	top: 10px;
	right: 15px;
	display: none;
	color: #ccc;
}
.page-article .comments .add-comment .submit .choose-account a:hover {
	//background: #eee;
}
.page-article .comments .add-comment .submit .choose-account:hover .triangle {
	display: block;
}
.page-article .comments .add-comment .submit .choose-account:hover {
	//border-top: 1px solid #ccc;
	//border-left: 1px solid #ccc;
	//border-right: 1px solid #ccc;
	box-shadow: 3px 3px 0 0 #eee;
}
.page-article .comments .add-comment .submit .choose-account:hover a {
	display: block;
	//border-bottom: 1px solid #ccc;
}
.page-article .comments .add-comment.reply {
	padding-bottom: 30px;
	//margin-top: -1px;
	//border-top: 1px solid #fff;
	//border-bottom: 1px solid #eee;
	padding-left: 78px;
}

.page-article .comments .add-comment.reply h3 {
	display: none;
}

.page-article .comments .login {
	width: 150px;
	position: absolute;
	left: 495px;
	bottom: 10px;
	padding: 10px;
	//background: #fff;
}
.page-article .comments .login .l {
	padding-bottom: 20px;
}
.page-article .comments .login .l .btn {
	//border-radius: 30px;
}
.page-article .comments .login p {
	color: #999;
	//margin: 0;
	font-weight: 100;
	width: 170px;
}

.page-article .comments .comment-vote-login {
	//background: transparent;
	//border-radius: 4px;
	font-weight: 100;
	left: 491px;
	//margin-top: -15px;
	padding: 15px;
	position: absolute;
	top: 0;
	width: 170px;
	z-index: 3;
	color: #555;
}
.page-article .comments .comment-vote-login p {
	//margin: 0;
	//margin-right: 20px;
	text-align: right;
}
.page-article .comments .comment-vote-login .buttons {
	padding-bottom: 10px;
	//margin-left: 80px;
	//margin-top: -24px;
}
.page-article .comments .comment-vote-login .buttons a {
	//margin-right: 15px;
}
