$time: .3s;

@import 'mixins';
@import 'placeholders';

.fotorama {
  // /test/specs/initialization.js
  min-width: 1px;

  > * {
    visibility: hidden;
  }

  &.fotorama--noscript > *,
  > .fotorama__wrap {

    visibility: visible;
  }
}

.fullscreen {
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  max-height: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  background: #000;
}

.fotorama--fullscreen {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  float: none !important;
  z-index: 2147483647 !important;
  background: #000;
  width: 100% !important;
  height: 100% !important;
  @extend %image-reset;
  .fotorama__stage,
  .fotorama__nav {
    background: #000;
  }
}

.fotorama__wrap {
  -webkit-text-size-adjust: 100%;
  position: relative;
  @extend %no-select;

  * {
     // /test/specs/thumbs.js
     @extend %content-box;
   }
}

.fotorama__stage,
.fotorama__nav {
  overflow: hidden;
  position: relative;
}

.fotorama__wrap--pan-y {
  -ms-touch-action: pan-y;
}

.fotorama__stage__shaft {
  @extend %stretch;
  @extend %no-tap;
}


.fotorama__wrap {
  .fotorama__pointer {
    cursor: pointer;
  }

  .fotorama__grab {
    @extend %grab-cursor;
  }
}

.fotorama__wrap--slide {
  .fotorama__stage__frame {
    opacity: 1 !important;
  }
}

.fotorama__grabbing * {
  @extend %grabbing-cursor;
}

.fotorama__img {
  @include opacity(0);
  @extend %image-reset;
  .fotorama__loaded &,
  .fotorama__error & {
    @include opacity(1);
  }
}

.fotorama__stage__frame {
  @extend %stretch;
  @extend %no-tap;
  overflow: hidden;
  &.fotorama__active {
    z-index: 8;
  }
}


.fotorama__wrap--fade {
  .fotorama__stage__frame {
    display: none;
  }
  .fotorama__stage__frame.fotorama__active {
    @include opacity(1);
  }
  .fotorama__stage__frame.fotorama__active,
  .fotorama__fade-front,
  .fotorama__fade-rear {
    display: block;
    left: 0;
    top: 0;
  }
  .fotorama__fade-front {
    z-index: 8;
  }
  .fotorama__fade-rear {
    z-index: 7;
    &.fotorama__active {
      z-index: 9;
    }
  }
  .fotorama__stage .fotorama__shadow {
    display: none;
  }
}

.fotorama__wrap--video {
  .fotorama__stage__shaft {
    @extend %no-transform;
  }
  .fotorama__stage__frame--video {
    @extend %no-transform;
    .fotorama__img,
    .fotorama__html {
      @include opacity(0);
    }
  }
}

.fotorama__img {
  border: 0;
  overflow: hidden;
  @extend %stretch-for-fit;
}

.fotorama__img--full {
  display: none;
}

.fotorama--fullscreen .fotorama__loaded--full {
  .fotorama__img {
    display: none;
  }
  .fotorama__img--full {
    display: block;
  }
}

.fotorama__html {
  @extend %stretch;

}

.fotorama__stage--only-active {
  .fotorama__stage__frame {
    visibility: hidden;
  }
  .fotorama__stage__frame.fotorama__active {
    visibility: visible;
  }
}

// Навигация, точечки
.fotorama__nav {
  font-size: 0;
  line-height: 0;
  text-align: center;
  display: none;
  white-space: nowrap;
  @extend %no-margin;
  @extend %no-tap;
  z-index: 5;
}

.fotorama__nav__shaft {
  @extend %inline-block;
  position: relative;
  left: 0;
  top: 0;
  text-align: left;
  @extend %no-tap;
}

.fotorama__nav__frame {
  @extend %inline-block;
  position: relative;
  @extend %no-margin;
  cursor: pointer;
  @extend %no-tap;
}

.fotorama__nav--dots {
  display: block;
  .fotorama__nav__frame {
    width: 18px;
    height: 30px;
  }
  .fotorama__nav__frame--thumb,
  .fotorama__thumb-border {
    display: none;
  }
}

.fotorama__nav--thumbs {
  display: block;
  .fotorama__nav__frame {
    padding-left: 0 !important;
    &:last-child {
      padding-right: 0 !important;
    }
  }
  .fotorama__nav__frame--dot {
    display: none;
  }
}


@mixin dotColor($color) {
  .fotorama__dot {
    border-color: $color;
  }

  .fotorama__active .fotorama__dot {
    background-color: $color;
  }
}

.fotorama__dot {
  display: block;
  width: 4px;
  height: 4px;
  position: relative;
  top: 12px;
  left: 6px;
  border-radius: 6px;
  border: 1px solid;
}

.fotorama__nav__frame.fotorama__active {
  pointer-events: none;
  cursor: default;
  .fotorama__dot {
    width: 6px;
    height: 6px;
    border: none;
  }
}

@include dotColor(mix(black, white));

.fotorama__thumb {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  @extend %before-load-bg;
}

.fotorama__thumb-border {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  border-style: solid;
  border-color: mix(#00d1ff, #008ed6);
  background-image: linear-gradient(top left, rgba(255, 255, 255, .25), rgba(64, 64, 64, .1));
}

.fotorama__caption {
  position: absolute;
  z-index: 12;
  bottom: 0;
  left: 0;
  max-width: 100%;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  background-color: rgba(#fff, .9);

  @extend %border-box;
  padding: 5px 10px;

  a {
    text-decoration: none;
    color: #000;
    border-bottom: 1px solid;
    border-color: rgba(#000, .5);
    &:hover {
      color: #333;
      border-color: rgba(#333, .5);
    }
  }

  .fotorama__wrap--video & {
    display: none;
  }
}

.fotorama--hidden {
  @extend %hidden;
}

// oooo
.fotorama__oooo {
  $size: 6px;
  $margin: 4px;
  @extend %center;
  width: $size;
  height: $size;
  margin-left: -($size + $margin/2);
  margin-top: -$size/2;
  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: $size;
    height: $size;
    border-radius: $size;
    background-color: mix(mix(black, white), white);
    background-color: rgba(mix(black, white), .5);
  }
  &:before {
    left: -($size + $margin);
  }
  .fotorama__oooo {
    margin-left: $size * 1.5 + $margin * 2;
  }
}

.fotorama__oooo--1:before,
.fotorama__oooo--2:after,
.fotorama__oooo--3 .fotorama__oooo:before,
.fotorama__oooo--4 .fotorama__oooo:after {
  background-color: mix(black, white);
}

// Если разрешены ЦСС-анимации
.fotorama__wrap--css3 {
  .fotorama__stage__shaft,
  .fotorama__nav__shaft,
  .fotorama__thumb-border {
    @extend %transition-for-slide;
  }
  .fotorama__stage__shaft,
  .fotorama__nav__shaft,
  .fotorama__thumb-border,
  .fotorama__stage__frame,
  .fotorama__nav__frame,
  .fotorama__img,
  .fotorama__html,
  .fotorama__caption {
    @extend %initial-translate;
    -webkit-backface-visibility: hidden;
  }
  .fotorama__img,
  .fotorama__html,
  &.fotorama__wrap--fade .fotorama__stage__frame,
  .fotorama__caption {
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: $time;
  }
}

.fotorama__select {
  @extend %select;
  cursor: auto;
}

.fotorama__no-select {
  @extend %no-select;
}

.fotorama__load {
  @extend %hidden;
}

.fotorama__video {
  top: 32px;
  right: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  z-index: 10;
  iframe {
    @extend %stretch;
  }
}

@import 'arrows';
@import 'shadows';